# ─── Dependencies 
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions


# ─── Next.js 
/.next/
/out/
/build

# ─── Environment variables 
.env
.env.local


# ─── TypeScript 
*.tsbuildinfo
next-env.d.ts


# ─── Vercel 
.vercel

# ─── Testing & coverage 
/coverage

# ─── OS files 
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini

# ─── Logs 
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs/
*.log

# ─── Editor & IDE 
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# ─── Certificates & secrets 
*.pem
*.key
*.cert

# ─── Misc 
/tmp
.cache/


# testing
/coverage

# next.js
/.next/
/out/


